<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
  header {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 1.25em;
    text-transform: uppercase;
  }
  section {
    margin-top: 1em;
    margin-bottom: 2.5em;
  }
  section:not(.full-width),
  .full-width > header {
    padding: 0 10px;
  }
</style>


<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
  <ion-item>
    <ion-label stacked>Username</ion-label>
    <ion-input placeholder="username"#userName required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Password</ion-label>
    <ion-input type="password" placeholder="password"#userPassword required></ion-input>
  </ion-item>

  <div text-center margin-top>
    <button ion-button margin-right >
      SIGN UP
    </button>

  </div>

  <div class="formgroup">
    <button ion-button (click)="authService.SigninWithGoogle()"> Sign In With Google</button>
  </div>

</ion-content>